@import url("https://fonts.googleapis.com/css?family=Montserrat:900");
body {
  background: #000;
  /* font-family: sans-serif; */
  overflow: hidden;
}
body * {
  box-sizing: border-box;
}
html {
  height: 100%;
  margin: 0;
  background-color: #000;
  color: #fff;
}

.container {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-auto-rows: minmax(100px, auto);
  height: 100%;
  gap: 1rem;
  padding: 1rem;
}

section {
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 15px;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

h1,
h2 {
  margin: 0;
}

/* Custom sizes for different cards */
#home {
  grid-column: span 3;
  grid-row: span 2;
}

#my_photo {
  grid-column: span 1;
  grid-row: span 2;
}

#about {
  grid-column: span 2;
  grid-row: span 1;
}

#skills {
  grid-column: span 2;
  grid-row: span 1;
}

#projects {
  grid-column: span 3;
  grid-row: span 3;
}

#contact {
  grid-column: span 3;
  grid-row: span 3;
}

#mouse-cursor {
  position: absolute;
  width: 20px;
  height: 20px;
  background: #000;
  border: 4px solid green;
  border-radius: 999px;
  mix-blend-mode: difference;
  pointer-events: none;
  z-index: 999;
  transition: top 0.025s ease, left 0.025s ease, transform 0.25s ease;
}

.wrapper {
  font-family: "Montserrat", sans-serif;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100vw;
}

ul {
  margin: 0;
  padding: 0;
  /* width: 65vw; */
}
ul li {
  list-style: none;
  font-size: 80px;
  /* margin-bottom: 25px; */
  display: table;
}
ul li a {
  color: green;
  text-decoration: none;
  letter-spacing: 5px;
  text-transform: lowercase;
  transition: 0.5s ease;
}
ul li a:hover {
  letter-spacing: 15px;
}
